<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 읽기</title>
    <link rel="stylesheet" href="/default.css">
</head>
<body>
<div id="container">
  <h1>[ 게시판 - 글 읽기 ]</h1>
  <form th:action="@{/delete(id=${board.id})}" method="post">
    <table th:object="${board}">
      <tr>
        <th>제목</th>
        <td th:text="*{title}"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td th:utext="*{contents}"></td>
      </tr>
      <tr>
        <th>조회수</th>
        <td th:text="*{hit}"></td>
      </tr>
      <tr>
        <th>작성일</th>
        <td th:text="${#temporals.format(board.created_time, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      <tr>
        <th>작성자</th>
        <td th:text="*{username}"></td>
      </tr>
      <tr>
        <th>패스워드</th>
        <td><input type="password" name="password" placeholder="삭제 시 패스워드를 입력해 주세요"></td>
      </tr>
    </table>
    <p>
    <div class="center">
      <input type="button" onclick="location.href='/'" value="메인으로">
      <input type="button" th:onclick="|location.href='/update?id=${board.id}'|" value="수정하기">
      <input type="submit" value="삭제하기">
  </div>
  </form>
</div>
</body>
</html>